@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    box-sizing: inherit;
  }

  html {
    @apply font-pixel;
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor: url("/cursor.png"), pointer;
  }

  body {
    @apply bg-white text-sm text-black;
    text-rendering: optimizeSpeed;
  }

  a,
  button {
    cursor: url("/cursor-click.png"), pointer;
  }

  ::selection {
    color: theme(colors.white);
    background: theme(colors.fuchsia.500);
  }
}
