.arcade-bg {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: moveBackground;
  animation-timing-function: steps(5);
  background-image: url(/stars_1.png), url(/stars_2.png);
  background-position: 20% 80%, 80% 80%;
  background-repeat: no-repeat, no-repeat;
  background-size: 40%;
}

@keyframes moveBackground {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1rem);
  }
}
